body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(214, 120, 151);
    color: black;
    font-family: 'Roboto Mono', monospace;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgb(107, 107, 107);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

form, h1, a {
    margin: 10px;
}

h1{
    font-family: 'Courgette', cursive;
    font-size:52px;
}

h2{
    font-family: 'Courgette', cursive;
}

a{
   color: black;
   text-decoration: none;
}

#content {
    width: 70%;
}

.completedTask{
    color: rgb(65, 65, 65);
    text-decoration: line-through;
}

header{
    text-align: right;
    padding: 5px;
    background-color: rgb(190, 100, 130);
}

.sign-link{
    text-decoration: underline;
    color: rgb(100, 28, 40);
}
