{% extends 'base.html' %}

{% block head %}

<title>ToDo List</title>
<script>
    function mark_task(id){
        window.location="/mark/"+id;
    };

</script>
<script src="https://kit.fontawesome.com/efac997b28.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<header>
    <a >Currently logged in as <b>{{username}}</b></a>
    <a href="{{url_for('logout')}}">
        <input type="button" value="Logout"/>
    </a>
</header>
<div class="content">
    <h1 style="text-align:center">ToDo List</h1>

    {% if todo_tasks|length < 1 %}
    <h2 >There are no task to do. Add one below</h2>
    {% else %}
    <h2>Tasks to do</h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Actions</th>
            <th>Is done?</th>
        </tr>
        {% for task in todo_tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>
                <span title="Update task"><a href="/update/{{task.id}}"><i class="fa-solid fa-pen"></i></a></span>
                <span title="Delete task"><a href="/delete/{{task.id}}"><i class="fa-solid fa-trash"></i></a></span>
            </td>
            <td>
                <input type="checkbox" onclick="mark_task('{{task.id}}')"/>                
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="name" id="name"/>
        <input type="submit" value="Add Task"/>
    </form>

    {% if done_tasks|length < 1 %}
    
    {% else %}
    <h2>Completed tasks</h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Actions</th>
            <th>Is done?</th>
        </tr>
        {% for task in done_tasks %}
        <tr>
            <td class="completedTask">{{ task.name }}</td>
            <td>
                <span title="Delete task"><a href="/delete/{{task.id}}"><i class="fa-solid fa-trash"></i></a></span>
            </td>
            <td>
                <input type="checkbox" checked="true" onclick="mark_task('{{task.id}}')"/>                
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

   
   
</div>
{% endblock %}